main .carousel-container {
  padding: 0;
}

main .carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  max-width: 100%;
  margin: auto;
  height: 500px;
}

main .carousel picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

main .carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 90%;
}
  
main .carousel > div {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: center;
}

main .carousel div.carousel-text {
  margin-left: 8.33333%;
  background: transparent;
  color: var(--text-white);
  max-width: 550px;
  min-height: 188px;
  padding: 0 28px;
}

main .carousel div.carousel-text p:not(.button-container) {
  margin: 1.25rem 0;
  line-height: 1.2;
  font-size: var(--body-font-size-xs);
}

main .carousel div.carousel-text p.button-container {
  margin-bottom: 0;
}

main .carousel div.carousel-text h2 {
  margin: 0;
  margin-top: 16px; 
}

main .carousel div.carousel-text .button {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
}

main .carousel::-webkit-scrollbar {
  display: none;
}

main .carousel-wrapper {
  max-width: unset;
}

main .carousel-wrapper.show-nav {
  position: relative;
}

main .carousel-wrapper .carousel-buttons {
  text-align: center;
  margin-top: 0;
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  justify-content: center;
}

main .carousel-buttons button {
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--highlight-background-color);
  border: 2px solid transparent;
}

main .carousel-buttons button.selected {
  background-color: var(--bg-color-blue);
}

main .carousel-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(29,29,29,.65);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin-top: 10px;
  border-radius: 16px 16px 0 0;
}

main .carousel-tabs > div {
  padding: 5px 10px;
  background-color: #ddd;
  cursor: pointer;
}

main .carousel-tabs > div:hover {
  background-color: #aaa;
}

main .carousel-tabs .navmenu-tab {
  color: var(--text-gray);
  padding: 0;
  margin: 0 1rem;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: color .2s ease-in-out;
  white-space: nowrap;
  width: 150px;
  text-align: center;
  background: transparent;
  font-size: var(--body-font-size-xs);
}

main .carousel-tabs .navmenu-tab.active,
main .carousel-tabs .navmenu-tab:hover {
  color: var(--text-white);
  background: transparent;
  border-bottom: 2px solid var(--text-white);
}

main .carousel-tabs .carousel-arrow-left,
main .carousel-tabs .carousel-arrow-right {
  color: var(--text-white);
  margin: 0 1rem;
  transition: color .2s ease-in-out;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  border: none;
  font-size: var(--body-font-size-m);
  text-overflow: unset;
  overflow: auto;
}

@media (min-width: 768px) {
  main .carousel {
    height: 650px;
  }
}

@media (max-width: 768px) {
  main .carousel > div {
    text-align: center;
    justify-content: center;
  }

  main .carousel-tabs {
    width: 100%;
  }

  main .carousel-tabs .navmenu-tab {
    display: none;
  }

  main .carousel-tabs .navmenu-tab.active {
    display: block;
  }

  main .carousel div.carousel-text {
    margin-left: 0;
  }
}
