footer {
  padding: 2rem;
  background-color: var(--background-color-lightblack);
  font-size: var(--body-font-size-xs);
  color: var(--text-white);
  font-weight: 400;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px 32px;
  list-style: none;
  padding-left: 0;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

footer .footer ul > li > a {
  color: inherit;
}

footer .footer p {
  text-align: center;
  margin-bottom: 0;
  font-size: var(--body-font-size-xxs);
}

@media (max-width: 768px) {
  footer .footer ul > li > a {
    font-size: var(--body-font-size-xs);
  }
}